<?xml version="1.0"?>
<launch>
  <rosparam file="$(find quadcopter)/config/model.yaml"/>
  <rosparam> motor_config: zero </rosparam>
  <node
    pkg="quadcopter"
    type="run_model_node"
    name="model"
    output="screen"
    />
  <node
    pkg="quadcopter"
    type="run_const_node"
    name="controller"
    output="screen"
    />
</launch>
